<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>登陆界面</title>
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="css/login.css">

</head>

<body>
<h1></h1>
<br><br><br><br><br><br><br><br><br>
<!--标题-->
<h1 style="color: PaleVioletRed">Welcome to login in it！</h1>
<div class="container">
    <div class="login">
        <form action="user/login">
            <br>
            <!--账号-->
            <span style="color: blueviolet">U</span>
            <input type="text" placeholder="Username">
            <br><br>
            <!--密码-->
            <span style="color: blueviolet">P</span>
            <input type="text" placeholder="Password">
            <br><br>
            <!--登陆按键和注册按键-->
            <button type="submit" style="color:blueviolet">sign in</button>
            <span>&nbsp;&nbsp;</span>
            <!--<button type="submit" style="color:blueviolet">register</button>-->
        </form>
    </div>
</div>
</body>
</html>